body {
    background-color: rgb(188,143,143);
    font-family: serif;
    margin:0px;
}

div {
  min-height: 10vh;
  width: 100vw;
}

h1,h2, {
  text-align: center;
}
h1 {
  font-size: 5em;
}

img {
  display: flex;
  padding: 2px;
  margin: 10 auto;
  border-radius: 5px;
}

p{
  width: 40%;
  margin: 10vh 10vw;
  font-size: 2em;
}

a{
  color: rgb(0,0,0);
}

ol {
  list-style: none;
  padding: 0;
  margin-bottom: 10%;
  font-size: 3em;
  display: flex;
  justify-content: space-evenly;
}

li#lower{
  margin-bottom:0%;
}
li#lowest {
  margin-bottom: 0%
}

div.main {
  background-color: rgb(105,105,105);
  color: rgb(0,0,0);
}

div.contrast {
  padding: 10;
  background-color: rgb(105,105,105);
  color: rgb(0,0,0);
}

li{
  margin: 0 20px;
  transition: 0.6s ease;
}

li:hover{
  font-size: 1.2em;
  transition: 0.6s ease;
}

a{
  transition: 0.6s ease;
}

a:hover{
  font-size: 1.2em;
  transition: 0.6s ease;
}
